<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="MusicFolder" value="C:\Music" />
    <add key="LORVersion" value="Light-O-Rama Status v3.1.4" />
    <add key="LogName" value="MyLightDisplay" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <connectionStrings>
    <add name="orchard_mylightdisplayEntities" connectionString="{ConnectionStringHere}" providerName="System.Data.EntityClient"/>
  </connectionStrings>
</configuration>
