<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>
    <appSettings>
        <add key="MusicFolder" value="C:\My Shows\Music\" />
        <add key="LORVersion" value="Light-O-Rama Status v5.5.14" />
        <add key="LogName" value="MyLightDisplay" />
        <add key="ReplacementValues" value=".0001|.43|.lms|.lcs|.play" />
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <connectionStrings>
        <add name="mylightdisplayEntities" connectionString="metadata=res://*/MyLightDisplay.csdl|res://*/MyLightDisplay.ssdl|res://*/MyLightDisplay.msl;provider=System.Data.SqlClient;provider connection string='data source=jasongaylord.database.windows.net;initial catalog=mylightdisplay;persist security info=True;user id=brayden;password=PittsburghPenguins2018;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
    </connectionStrings>
</configuration>
